:root {
  --font-family: "Helvetica", sans-serif;
  --content-width: 1920px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --mainColor: #ffffff;
  --accentColor: #D82B37;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  font-style: normal;
  color: var(--mainColor);
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--mainColor);
  background-color: var(--accentColor);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accentColor);
  border-radius: 5px;
  z-index: -1;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accentColor);
  border-radius: 5px;
  z-index: -1;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
.btn:hover:after {
  -webkit-transform: scale(1.5, 1.3);
  -ms-transform: scale(1.5, 1.3);
  transform: scale(1.5, 1.3);
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.btn:hover:before {
  -webkit-transform: scale(1.8, 1.4);
  -ms-transform: scale(1.8, 1.4);
  transform: scale(1.8, 1.4);
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}

.title {
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }
}

.content__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
@media (max-width: 768px) {
  .content__text {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .content__text {
    font-size: 14px;
    line-height: 130%;
  }
}

.logo {
  position: absolute;
  left: 40px;
  top: 30px;
  z-index: 101;
  width: 150px;
}
@media (max-width: 1500px) {
  .logo {
    width: 150px;
  }
}
@media (max-width: 992px) {
  .logo {
    width: 100px;
    height: 50px;
    left: 15px;
    top: 10px;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 80px;
  }
}

.header {
  padding: 32px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
@media (max-width: 992px) {
  .header {
    padding: 20px 0;
  }
}
.header nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header nav > ul > li > a {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--mainColor);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header nav > ul > li > a:hover {
  color: var(--accentColor);
}
.header nav > ul > li > a.active {
  color: var(--accentColor);
}
@media (max-width: 1200px) {
  .header nav > ul > li > a {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .header nav > ul > li > a {
    font-size: 12px;
    line-height: 18px;
  }
}
.header nav > ul > li:not(:last-child) {
  margin-right: 32px;
}
@media (max-width: 480px) {
  .header nav > ul > li:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 992px) {
  .header nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: auto;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .header nav {
    height: 100px;
  }
}
@media (max-width: 992px) {
  .header nav.menu--active {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@media (max-width: 992px) {
  .header nav > ul {
    width: 100%;
    height: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 15px;
  }
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .header__wrap {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.header .burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--mainColor);
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.header .burger::before, .header .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger::before {
  top: 0;
}
.header .burger::after {
  top: calc(100% - var(--burger-line-height));
}
.header .burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .header .burger {
    display: block;
    z-index: 101;
  }
}
.main-slider__wrap [class$=_wrapper] {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main-slider__wrap .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.main-slider__wrap .swiper-pagination {
  position: fixed;
  left: auto !important;
  right: 38px !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto !important;
  width: auto !important;
}
@media (max-width: 992px) {
  .main-slider__wrap .swiper-pagination {
    right: 15px !important;
  }
}
@media (max-width: 768px) {
  .main-slider__wrap .swiper-pagination {
    display: none;
  }
}
.main-slider__wrap .swiper-pagination-bullet {
  width: auto;
  height: auto;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  opacity: 1;
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  border-radius: 0;
  padding-right: 20px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-slider__wrap .swiper-pagination-bullet:not(:last-child) {
  margin-bottom: 20px;
  margin-top: 0;
}
@media (max-width: 1200px) {
  .main-slider__wrap .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media (max-width: 1200px) {
  .main-slider__wrap .swiper-pagination-bullet {
    font-size: 16px;
    line-height: 24px;
  }
}
.main-slider__wrap .swiper-pagination-bullet:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-slider__wrap .swiper-pagination-bullet-active {
  font-weight: 500 !important;
}
.main-slider__wrap .swiper-pagination-bullet-active:after {
  background-color: var(--accentColor);
}
.main-slider__wrap .swiper-pagination-bullet-active {
  color: var(--accentColor);
}
.main-slider__wrap .swiper {
  width: 100%;
  height: 100vh;
}
@media (max-width: 768px) {
  .main-slider__wrap .swiper {
    height: auto;
  }
}
@media (max-width: 768px) {
  .main-slider__wrap .swiper-wrapper {
    display: block;
  }
}
@media (max-width: 768px) {
  .main-slider__wrap .swiper-slide {
    z-index: -1 !important;
  }
}
.main-slider__wrap .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-slider__wrap .overview__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-slider__wrap .overview__wrap {
  max-width: 1200px;
  padding-left: clamp(15px, 15%, 270px);
  padding-right: clamp(15px, 22%, 430px);
}
@media (max-width: 1200px) {
  .main-slider__wrap .overview__wrap {
    padding-left: clamp(15px, 15%, 100px);
    padding-right: clamp(15px, 22%, 200px);
  }
}
@media (max-width: 992px) {
  .main-slider__wrap .overview__wrap {
    padding-left: clamp(15px, 15%, 50px);
    padding-right: clamp(15px, 25%, 250px);
  }
}
@media (max-width: 768px) {
  .main-slider__wrap .overview__wrap {
    max-width: 100%;
    padding: 100px 15px;
  }
}
@media (max-width: 768px) {
  .main-slider__wrap .overview__wrapper {
    position: relative;
  }
  .main-slider__wrap .overview__wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/bg-screen-1.jpg");
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }
}
.main-slider__wrap .overview__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .main-slider__wrap .overview__title {
    font-size: 40px;
    line-height: 52px;
  }
}
@media (max-width: 992px) {
  .main-slider__wrap .overview__title {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .main-slider__wrap .overview__title {
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 480px) {
  .main-slider__wrap .overview__title {
    font-size: 26px;
    line-height: 34px;
  }
}
.main-slider__wrap .overview__title span {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  .main-slider__wrap .overview__title span {
    font-size: 18px;
    line-height: 120%;
  }
}
@media (max-width: 480px) {
  .main-slider__wrap .overview__title span {
    font-size: 16px;
    line-height: 22px;
  }
}
.main-slider__wrap .overview__btn {
  padding: 13px 54px;
}

.solutions__wrapper {
  padding-top: 160px;
}
@media (max-width: 1850px) {
  .solutions__wrapper {
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  .solutions__wrapper {
    position: relative;
    background-position: center !important;
    background-repeat: repeat !important;
    background-size: contain !important;
    padding-bottom: 60px;
  }
  .solutions__wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/bg-screen-2.jpg");
    -webkit-filter: blur(7px);
    filter: blur(7px);
  }
}
.solutions__flex {
  max-width: 1650px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (310px)[5];
  grid-template-columns: repeat(5, 310px);
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 50px;
}
@media (max-width: 1850px) {
  .solutions__flex {
    -ms-grid-columns: (310px)[4];
    grid-template-columns: repeat(4, 310px);
    margin-left: 0;
  }
}
@media (max-width: 1700px) {
  .solutions__flex {
    margin-left: 30px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media (max-width: 1550px) {
  .solutions__flex {
    -ms-grid-columns: (300px)[4];
    grid-template-columns: repeat(4, 300px);
  }
}
@media (max-width: 1400px) {
  .solutions__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 75%;
  }
}
@media (max-width: 1250px) {
  .solutions__flex {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .solutions__flex {
    max-width: 100%;
    margin-left: 0;
    gap: 20px;
  }
}
.solutions-card {
  height: 330px;
  position: relative;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective: 1500px;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
@media (max-width: 1850px) {
  .solutions-card {
    height: 270px;
  }
}
@media (max-width: 1400px) {
  .solutions-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
    height: 220px;
  }
}
@media (max-width: 1250px) {
  .solutions-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }
}
@media (max-width: 768px) {
  .solutions-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
  }
}
.solutions-card__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-clip-path: polygon(50% 0, 50% 0, 100% 20%, 100% 80%, 50% 100%, 50% 100%, 0 80%, 0 20%);
  clip-path: polygon(50% 0, 50% 0, 100% 20%, 100% 80%, 50% 100%, 50% 100%, 0 80%, 0 20%);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .solutions-card__side {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  }
}
.solutions-card__side_front {
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
@media (max-width: 1250px) {
  .solutions-card__side_front img {
    width: 80%;
  }
}
@media (max-width: 1250px) and (max-width: 768px) {
  .solutions-card__side_front img {
    width: 70%;
  }
}
.solutions-card__side_front:hover {
  z-index: 1;
}
.solutions-card__side_back {
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: -1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.solutions-card:nth-child(-n+5) {
  -webkit-transform: translateY(35px);
  -ms-transform: translateY(35px);
  transform: translateY(35px);
}
.solutions-card:nth-child(-n+5):hover .solutions-card__side_front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 10;
}
.solutions-card:nth-child(-n+5):hover .solutions-card__side_back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 10;
}
@media (max-width: 1400px) {
  .solutions-card:nth-child(-n+5) {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.solutions-card:not(:nth-child(-n+5)) {
  -webkit-transform: translate(calc(50% + 4px), -35px);
  -ms-transform: translate(calc(50% + 4px), -35px);
  transform: translate(calc(50% + 4px), -35px);
}
@media (max-width: 1850px) {
  .solutions-card:not(:nth-child(-n+5)) {
    -webkit-transform: translate(calc(50% + 4px), -25px);
    -ms-transform: translate(calc(50% + 4px), -25px);
    transform: translate(calc(50% + 4px), -25px);
  }
}
.solutions-card:not(:nth-child(-n+5)):hover .solutions-card__side_front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 2;
}
.solutions-card:not(:nth-child(-n+5)):hover .solutions-card__side_back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
@media (max-width: 1400px) {
  .solutions-card:not(:nth-child(-n+5)) {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (max-width: 1850px) {
  .solutions-card:nth-child(5) {
    -webkit-transform: translate(calc(50% + 4px), -25px);
    -ms-transform: translate(calc(50% + 4px), -25px);
    transform: translate(calc(50% + 4px), -25px);
  }
}
@media (max-width: 1400px) {
  .solutions-card:nth-child(5) {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (max-width: 1850px) {
  .solutions-card:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -webkit-transform: translate(320px, -85px);
    -ms-transform: translate(320px, -85px);
    transform: translate(320px, -85px);
  }
}
@media (max-width: 1550px) {
  .solutions-card:nth-child(8) {
    -webkit-transform: translate(310px, -85px);
    -ms-transform: translate(310px, -85px);
    transform: translate(310px, -85px);
  }
}
@media (max-width: 1400px) {
  .solutions-card:nth-child(8) {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (max-width: 1850px) {
  .solutions-card:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -webkit-transform: translate(0px, -85px);
    -ms-transform: translate(0px, -85px);
    transform: translate(0px, -85px);
  }
}
@media (max-width: 1400px) {
  .solutions-card:nth-child(9) {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.solutions-card__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--mainColor);
}
@media (max-width: 1750px) {
  .solutions-card__name {
    font-size: 16px;
    line-height: 120%;
  }
}
@media (max-width: 992px) {
  .solutions-card__name {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .solutions-card__name {
    font-size: 18px;
    line-height: 140%;
  }
}
.solutions-card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 35px;
}
@media (max-width: 1750px) {
  .solutions-card__text {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
  }
}
@media (max-width: 1250px) {
  .solutions-card__text {
    padding: 0 20px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .solutions-card__text {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .cf-leadership__wrapper {
    position: relative;
    background-position: center !important;
    background-repeat: repeat !important;
    background-size: contain !important;
  }
  .cf-leadership__wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/bg-screen-3.jpg");
    -webkit-filter: blur(7px);
    filter: blur(7px);
  }
}
.cf-leadership .content__text p {
  margin-bottom: 20px;
}
.cf-leadership .content__text:last-of-type {
  margin-bottom: 40px;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content__box {
  padding: 50px 70px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
@media (max-width: 768px) {
  .content__box {
    padding: 35px;
  }
}
@media (max-width: 480px) {
  .content__box {
    padding: 20px;
  }
}
.content__cf-leadership {
  height: 60%;
  width: 33%;
  margin-left: 145px;
}
@media (max-width: 1500px) {
  .content__cf-leadership {
    width: 60%;
    height: auto;
    margin-left: 100px;
  }
}
@media (max-width: 1200px) {
  .content__cf-leadership {
    margin-left: 50px;
    width: 55%;
  }
}
@media (max-width: 768px) {
  .content__cf-leadership {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
}
.content__abr {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .content__abr img {
    width: 100px;
  }
}
.content__title {
  margin-bottom: 20px;
}
.content__btn {
  padding: 15px 55px;
  display: inline-block;
}
@media (max-width: 480px) {
  .content__btn {
    padding: 15px 0px;
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .cf-board__wrapper {
    position: relative;
    background-position: center !important;
    background-repeat: repeat !important;
    background-size: contain !important;
  }
  .cf-board__wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/bg-screen-2.jpg");
    -webkit-filter: blur(7px);
    filter: blur(7px);
  }
}
@media (max-width: 1400px) {
  .cf-board .content__box {
    padding: 40px;
  }
}
@media (max-width: 1200px) {
  .cf-board .content__box {
    padding: 20px 30px;
  }
}
@media (max-width: 480px) {
  .cf-board .content__box {
    padding: 20px;
  }
}
.cf-board .content__cf-board {
  height: auto;
  width: 60%;
  margin-left: 145px;
}
@media (max-width: 1400px) {
  .cf-board .content__cf-board {
    margin-left: 50px;
    width: 70%;
  }
}
@media (max-width: 992px) {
  .cf-board .content__cf-board {
    margin-left: 30px;
    width: 65%;
  }
}
@media (max-width: 768px) {
  .cf-board .content__cf-board {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .cf-board .content__logo img {
    width: 200px;
  }
}
.cf-board .content__title {
  max-width: 540px;
}
.cf-board .content__text_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 40px;
}
.cf-board .content__text_flex > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%;
}
@media (max-width: 1400px) {
  .cf-board .content__text_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 20px;
  }
}
.cf-board .content__btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
@media (max-width: 480px) {
  .cf-board .content__btn {
    padding: 15px 0px;
    max-width: 100%;
    text-align: center;
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */